<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://diabetesfuncapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7a1816e9-d030-4d92-9299-e1912e8e1758/resourceGroups/diabetes-rg/providers/Microsoft.Web/sites/diabetesFuncApp</ResourceId>
    <UserName>$diabetesFuncApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://diabetesfuncapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>